<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>dongHang</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- ContextLoaderListener 가 사용할 공통 빈 등록 설정 파일의 위치. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>kr.or.ddit.listener.CustomServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>kr.or.ddit.listener.CustomHttpSessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 	필터 적용 -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>kr.or.ddit.filter.auth.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>securedResourceInfo</param-name>
			<param-value>kr.or.ddit.auth.securedResources</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>kr.or.ddit.filter.auth.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	  
	<!-- DispatcherServlet 이라는 FrontController 를 등록하고, -->
	<!-- 해당 서블릿의 인스턴스가 생성되면, WebApplicationContext(하위 컨테이너) 가 생성됨. -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/*-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>401</error-code>
		<location>/login/loginCheck.do</location>
	</error-page>
	
</web-app>